body, html, .content {
	font-family: 'Josefin Sans', sans-serif;
	/*font-family: 'Arimo', sans-serif;*/
	/*font-family: 'Open Sans', sans-serif;*/
	height: 100%
}

.logo-row {
	margin-top: 40px;
}

.intro-row {
	margin-top: 40px;
}
 
.section-1 {
  	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;

  	position: relative;
}

.section {
	visibility: hidden;
	position: relative;
}

.next-section {
	position: absolute;
	bottom: 10px;
	width: 100%;
}

.next-text-wrapper {
	border: 2px solid #E2814B;
	padding: 7px
}

.challenge-row {
	margin-top: 40px;
	font-weight: 700;
}

.steps {
	margin-bottom: 10px;		
}

.challenge-text {
	 margin-bottom: 0px;
	 font-weight: 700;
}

.business-logo {
	width: 25%;		
}

.team-pic-wrapper {
	width: 75%;
	margin-left: -4px;
	display: inline-block;
	position: relative;
}

.team-pic {
	width: 100%;
}

.color-overlay {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;	
	z-index: 100;	
}

.stats {
	padding-left: 10px;
	text-align: center;
	padding-top: 20px;
}

.stats h2 {
	font-weight: 700;
}

.team-row {
	margin-top: 20px;
}

.team-row.even .color-overlay {
	/*background: rgba(49,148,121,.7);*/
	/*background: rgba(256, 256, 256,.7);	*/
	background: rgba(255, 195, 161,.7);		
	/*color: #FFA877;*/
	/*color: #CC6124;*/
}

.team-row.odd .color-overlay {
	/*background: rgba(226,129,75,.7);	*/
	/*background: rgba(256, 256, 256,.7);	*/
	background: rgba(128, 203, 182,.7);	
	/*color: #0A694F;*/
}

.team-name-header {
	color: black;
	text-decoration: underline;
}

.explanation {
	width: 20%;
}